Source: mainprogram
Section: utils
Priority: optional
Maintainer: ivannedorizanyuk@gmail.com
Build-Depends: debhelper-compat (= 12), build-essential
Standards-Version: 4.5.0
Homepage: https://your.homepage.com
Package: mainprogram
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: mainprogram
 mainprogram doing something
